html {
   font-family: monospace;
   font-size: 18px;
}

body {
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.board {
   --cell-size: 4rem;
   display: grid;
   grid-template-columns: repeat(3, var(--cell-size));
   grid-auto-rows: var(--cell-size);
   gap: 0;
   background: grey;
   width: min-content;
   border: 3px solid grey;
}
.board > div {
   display: flex;
   justify-content: center;
   align-items: center;
   background: white;
   border: 3px solid grey;
}
.mark {
   font-size: 36px;
   user-select: none;
}